//images
$solo-logo:     url("/assets/images/logo-SOLO.svg") no-repeat;  //solo logo
$ox-logo-low:   url("/assets/images/logo-OXFORD-low.gif");//ox logo
$ox-logo-high:  url("/assets/images/logo-OXFORD-high.svg");//ox logo
$bodleian-logo-low: url("/assets/images/bodleian-logo-low.png");        //bodleian logo
$bodleian-logo-high: url("/assets/images/bodleian-logo-high.png");        //bodleian logo
$blueprint:     url("/assets/images/oxford-city-map.svg");      //blueprint image
$user-icon:     url("/assets/images/profile.svg");              //user icon (top-right)

