<footer class="display-flex flex-column flex-layout-center-center">
  <div class="container flex-row width-100">
    <p class="flex-layout-start">© Bodleian Libraries 2026</p>
  </div>
  <div class="container width-100 flex-row display-flex flex-layout-space-between">
    <div class="flex-column">
      <ul class="width-100 display-flex" role="list">
        <li role="listitem" class="flex-row flex-layout-center-center">
          <a href="https://visit.bodleian.ox.ac.uk/accessibility" title="Accessibility statement" tabindex="0"
             target="_blank" rel="noopener" class="display-flex basic-button">Accessibility</a>
        </li>
        <li>|</li>
        <li role="listitem" class="flex-row flex-layout-center-center">
          <a href="https://glam.web.ox.ac.uk/privacy-policy-solo" title="Privacy" tabindex="0" target="_blank"
             rel="noopener" class="display-flex basic-button">Privacy</a>
        </li>
        <li>|</li>
        <li role="listitem" class="flex-row flex-layout-center-center">
          <a href="/nde/custom/44OXF_INST-SOLO_NDE/assets/solo-cookies.html" title="Cookies" tabindex="0" target="_blank"
             rel="noopener" class="display-flex basic-button">Cookies</a>
        </li>
        <li>|</li>
        <li role="listitem" class="flex-row flex-layout-center-center">
          <a href="#" tabindex="0" title="Live Chat"
             (click)="openChat($event)" class="display-flex basic-button"><mat-icon role="img" aria-hidden="false" aria-label="link" fonticon="chat" class="mat-icon material-icons mat-ligature-font mat-icon-no-color" data-mat-icon-type="font">chat</mat-icon>
          Live Chat</a>
        </li>
      </ul>
    </div>
    <div class="flex-column">
      <a href="https://www.bodleian.ox.ac.uk/" title="Bodleian Libraries logo" id="bodleian-logo"
         target="_blank" rel="noopener">
        <img src="/assets/images/bodleian-logo-low.png" alt="Bodleian Libraries logo" />
      </a>
    </div>
  </div>
</footer>

<solo-help></solo-help>
<solo-record-message></solo-record-message>
